/* all p-tags */

nav {
    font-family: "Georgia", "Times", "Times New Roman", "serif";
}

p {
    font-family: "Helvetica Neue", "Helvetica", "sans-serif";
  }
  
.nav-link:hover {
    color: #55555763;
  }
.container {
	background-color: white;
	padding-right:10px;
	padding-left:10px;
	padding-top:10px;
	padding-bottom:10px;
}

.navbar-expand-lg {
    background-color: rgb(158, 56, 56);
}

.navbar-brand {
    border: none;
    outline: none;
    padding: 10px 16px;
    background-color: #4aaaa5;
	;
    cursor: pointer;
  } 
h1 {
	color: #4aaaa5;
}




